
* {
    font-family: 'Lobster', cursive;
}

a:link {
    color: orange;
    text-decoration: none;
    padding-right: 30px;
}

.glow {
    text-decoration: none;
    color: #fff;
	text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
	-webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;
	outline: 0 none;
}

body {
	background-image: url("media/city-1920.jpg");
    background-repeat:no-repeat;
    background-size:cover;
} 

ul {
    display: inline;
    list-style-type: none;
}

#container {
    display: grid;
    grid-template-columns:30% auto 50%;
    grid-template-rows: 60px auto 100px;
    border: 2px solid orange;
    border-radius: 10px;
    color: white;
    padding: 10px;
    overflow: hide;
    
}

.header {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: end;
    grid-column: 2/4;
    grid-row: 1/2;
    background: black;
    color: white;
    border: 2px solid orange;
    border-radius: 10px;
    opacity: .5;
    margin: 10px;
}

.sidebar { 
    grid-column: 1/2;
    grid-row: 2/3;
    border: 2px solid orange;
    border-radius: 10px;
    padding: 10px;
    opacity: .5;
    margin: 10px;
}

.content {
    grid-column: 2/4;
    grid-row: 2/3;
    border: 2px solid orange;
    border-radius: 10px;
    padding: 10px;
    opacity: .8;
    font-size: 25px;
    margin: 10px;
}

.footer {
    grid-column: 1/4;
    grid-row: 3/4;
    border: 2px solid orange;
    border-radius: 10px;
    padding: 10px;
    opacity: .8;
    margin: 10px;
}
